<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/meta :: meta"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal" id="ec" method="post" th:action="@{/hospital/saveBatch}">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <br/><br/><br/>
                                系統已配置數據，是否批量導入醫院數據
                                <br/><br/><br/><br/>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">批量導入</button>
                                <button class="btn btn-white" onclick="javascript:opt.closeWin();" type="button"
                                        value="取消">取消
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $('#ec').validate({
            rules: {
                name: "required"
            },
            messages: {
                name: "必須輸入"
            },
            submitHandler: function (form) {
                opt.load();
                $(form).find(":submit").attr("disabled", true).text("正在提交...");
                form.submit();
            }
        });
    });
</script>
